@model IEnumerable<Produto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewBag.message</h2>
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Preço</td>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProdutoId</td>
                    <td>@item.Nome</td>
                    <td>@item.Categoria</td>
                    <td>@item.Preco</td>    
                </tr>
            }
        </tbody>
    </table>
    
</div>
